!For changes to take effect, please run:
!xrdb ~/.Xresources

!xterm*Background:		black
!xterm*Foreground:		white
!xterm*faceName:			Terminus:style=Regular:size=10

!URxvt*foreground:		#ffffff
!URxvt*background:		[95]#000000
URxvt*depth:			32
URxvt*font:				xft:terminus:pixelsize=17
!URxvt.font:				xft:DejaVu Sans Mono:pixelsize=14
URxvt*scrollBar:		false
URxvt*scrollBar_right:	true
URxvt*intensityStyles:	false
Urxvt*iconFile:			/usr/share/icons/terminal.png

!
! invisibone by baskerville
!
URxvt.background: [95]#232323
URxvt.foreground: #A0A0A0

URxvt.colorBD:    #CFCFCF
URxvt.colorUL:    #A0A0A0
URxvt.colorIT:    #686868

!BLK
URxvt.color0:     #303030
URxvt.color8:     #686868

!RED
URxvt.color9:     #FFA7DA
URxvt.color1:     #D370A3

!GRN
URxvt.color10:    #A3D572
URxvt.color2:     #6D9E3F

!BLU
URxvt.color12:    #98CBFE
URxvt.color4:     #6095C5

!YEL
URxvt.color11:    #EFBD8B
URxvt.color3:     #B58858

!CYN
URxvt.color14:    #75DAA9
URxvt.color6:     #3BA275

!MAG
URxvt.color13:    #E5B0FF
URxvt.color5:     #AC7BDE

!WHT
URxvt.color7:     #CFCFCF
URxvt.color15:    #FFFFFF
